/* Add CSS Styling */

.odd {
    background-color: rgb(250, 128, 114);
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
}
.font24 {
    font-size: 24px;
}
#second {
    color: rgb(0, 0, 255);
    font-size: 36px
}

#fourth {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}